.TodoList {
  margin: 10px auto;
  padding: 10px 5px;
  min-height: 30vh;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .TodoList {
    width: 60%;
  }
}

@media screen and (max-width: 840px) {
  .TodoList {
    width: 60%;
  }
}
