.Todos {
  width: 50%;
  margin: 40px auto;
  padding: 20px 5px;
  min-height: 50vh;
  border-radius: 5px;
  box-shadow: 5px 7px 5px lightslategray;
  background: linear-gradient(130deg, #ceedce, #a8dcb1, #99c899);
}
.Todos h1 {
  text-align: center;
  padding: 20px 20px 20px 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(227, 227, 227);
  color: #1f363d;
}
.TodoList {
  margin: 10px auto;
  padding: 10px 5px;
  min-height: 30vh;
  width: 90%;
}

@media screen and (max-width: 600px) {
  .Todos {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .Todos {
    width: 90%;
  }
}
